In [1]:
import pandas as pd                     #Importar la librer√≠a
df = pd.read_csv('reddit.csv')           #Importar el dataset

In [2]:
df.columns                           #Conocer las columnas

Index(['text', 'sentiment'], dtype='object')

In [3]:
df.head()

                                                text  sentiment
0  I m looking into long term solutions but right...          0
1  Chronic Depression I m at this nihilistic poin...          0
2  Thinking about the best way to do itTwo weeks ...          0
3  I just don t feel like doing anything anymore ...          0
4  I was on lonely as I was feeling that way I co...          0

In [4]:
df['text']

0        I m looking into long term solutions but right...
1        Chronic Depression I m at this nihilistic poin...
2        Thinking about the best way to do itTwo weeks ...
3        I just don t feel like doing anything anymore ...
4        I was on lonely as I was feeling that way I co...
                               ...
19995                              I prefer the Sick Duck
19996                    One tough water bender I d wager
19997    The only people to defend attacks on our civil...
19998                  he looks like a middle aged lesbian
19999     After nearly 7 months today I made a cup of c...
Name: text, Length: 20000, dtype: object

In [5]:
largos = df['text'].str.len()>1024

In [6]:
cortos = df['text'].str.len()<1024

In [7]:
largos

0        False
1        False
2         True
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Name: text, Length: 20000, dtype: bool

In [8]:
df = df.loc[cortos]

In [9]:
df.head(12)

                                                 text  sentiment
0   I m looking into long term solutions but right...          0
1   Chronic Depression I m at this nihilistic poin...          0
3   I just don t feel like doing anything anymore ...          0
4   I was on lonely as I was feeling that way I co...          0
5   Reached the end of my rope Alcoholism worse th...          0
7   I ve been doing this for 16 years so I guess I...          0
8   mind has this going for months nowDrink powder...          0
9   I just attempted to kill myself but I don t kn...          0
10  Suicide seems like the only way I glean avoid ...          0
12  Has anyone ever felt like you wanna hurt yours...          0
14  inside my head why are there two different peo...          0
16  These past few days I ve been feeling better T...          0

In [10]:
len(df)

16980

In [11]:
df.to_csv("Reddit_cortos.csv", index=False)

In [12]:
df1 = df.head(5000)

In [13]:
df1

                                                   text  sentiment
0     I m looking into long term solutions but right...          0
1     Chronic Depression I m at this nihilistic poin...          0
3     I just don t feel like doing anything anymore ...          0
4     I was on lonely as I was feeling that way I co...          0
5     Reached the end of my rope Alcoholism worse th...          0
...                                                 ...        ...
6888  No point on living19 y o No one wamts me I fee...          0
6890  I recently found out the girl that i had been ...          0
6891  I m 21 have bpd and hate my life I have no fri...          0
6892  Im 20 still a university student I ve been in ...          0
6894  Does anyone want to meet up I m such a nobody ...          0

[5000 rows x 2 columns]

In [14]:
dfTemp = df.iloc[5000: , :]

In [15]:
dfTemp

                                                    text  sentiment
6895   Pretty depressed todayI am pretty depressed to...          0
6896   I wish I never dated or anything Im 28 years o...          0
6897   inside my head why are there two different peo...          0
6899   I went to bed yesterday praying I don t wake u...          0
6901   Today was an awful day my parents especially m...          0
...                                                  ...        ...
19995                            I prefer the Sick Duck           1
19996                  One tough water bender I d wager           1
19997  The only people to defend attacks on our civil...          1
19998                he looks like a middle aged lesbian          1
19999   After nearly 7 months today I made a cup of c...          1

[11980 rows x 2 columns]

In [16]:
df2 = dfTemp.head(5000)

In [17]:
dfTemp = dfTemp.iloc[5000: , :]

In [18]:
dfTemp

                                                    text  sentiment
12816  It s hot if he goes with the flow and is down ...          1
12817  Honestly you should have just washed the teddy...          1
12818                     On the bright side Free lunch           1
12819  That s most likely correct the article says he...          1
12820  Hello everyone I just want to remind everyone ...          1
...                                                  ...        ...
19995                            I prefer the Sick Duck           1
19996                  One tough water bender I d wager           1
19997  The only people to defend attacks on our civil...          1
19998                he looks like a middle aged lesbian          1
19999   After nearly 7 months today I made a cup of c...          1

[6980 rows x 2 columns]

In [19]:
df3 = dfTemp.head(5000)

In [20]:
dfTemp = dfTemp.iloc[5000: , :]

In [21]:
dfTemp

                                                    text  sentiment
17966  It looked like one guy at 44 sec got off the f...          1
17967  I think we take a good hard look in the mirror...          1
17968                                     50 creeped out          1
17969                         I m 31 and wtf is Pokemon           1
17970  Yeah I guess it s really hard to recognize Ton...          1
...                                                  ...        ...
19995                            I prefer the Sick Duck           1
19996                  One tough water bender I d wager           1
19997  The only people to defend attacks on our civil...          1
19998                he looks like a middle aged lesbian          1
19999   After nearly 7 months today I made a cup of c...          1

[1980 rows x 2 columns]

In [22]:
df4 = dfTemp.head(5000)

In [23]:
df1.to_csv("dataReddit1.csv", index=False)
df2.to_csv("dataReddit2.csv", index=False)
df3.to_csv("dataReddit3.csv", index=False)
df4.to_csv("dataReddit4.csv", index=False)